<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <hint>
                    <frontend_model>placetopay/adminhtml_system_config_fieldset_hint</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>
            </groups>
        </payment>
        <placetopay translate="label" module="placetopay">
            <label>
                <![CDATA[<img src="https://www.placetopay.com/images/providers/placetopay_xh18.png" border="0" height="18" alt="PlacetoPay"/>]]></label>
            <header_css>placetopay-header</header_css>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>350</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <global translate="label comment">
                    <label>Merchant Parameters</label>
                    <comment></comment>
                    <fieldset_css>placetopay-config</fieldset_css>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <merchantname translate="label">
                            <label>Company Name</label>
                            <frontend_type>text</frontend_type>
                            <config_path>placetopay/merchantname</config_path>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchantname>
                        <merchantdocument translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <config_path>placetopay/merchantdocument</config_path>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchantdocument>
                        <login translate="label comment">
                            <label>Site Login</label>
                            <config_path>payment/placetopay_standard/login</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </login>
                        <trankey translate="label comment">
                            <label>Site TranKey</label>
                            <config_path>payment/placetopay_standard/trankey</config_path>
                            <frontend_type>password</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trankey>
                    </fields>
                </global>
                <standard translate="label comment">
                    <label>Website Payments Standard Settings</label>
                    <fieldset_css>placetopay-config</fieldset_css>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <title translate="label comment">
                            <label>Title</label>
                            <comment>It is recommended to set this value per store views.</comment>
                            <config_path>payment/placetopay_standard/title</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <active translate="label source_model">
                            <label>Enabled</label>
                            <config_path>payment/placetopay_standard/active</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <description translate="label comment">
                            <label>Payment description</label>
                            <comment>It is recommended to set this value per store views.</comment>
                            <config_path>payment/placetopay_standard/description</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <display_logo translate="label comment">
                            <label>Display logo</label>
                            <config_path>payment/placetopay_standard/display_logo</config_path>
                            <comment>Choose the logos to be displayed under the PlacetoPay logo in payment method
                                selection
                            </comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>EGM_PlacetoPay_Model_System_Config_Source_Logos</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_logo>
                        <hascifin translate="label source_model">
                            <label>Enable CIFIN Message</label>
                            <config_path>payment/placetopay_standard/hascifin</config_path>
                            <comment>Select yes to display the warning message at payment.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>01</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hascifin>
                        <final_page translate="label source_model">
                            <label>Final page</label>
                            <config_path>payment/placetopay_standard/final_page</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>EGM_PlacetoPay_Model_System_Config_Source_FinalPage</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </final_page>
                    </fields>
                </standard>
                <promotion translate="label comment">
                    <label>Website Payments Promotion Settings</label>
                    <fieldset_css>placetopay-config</fieldset_css>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <title translate="label comment">
                            <label>Title</label>
                            <comment>It is recommended to set this value per store views.</comment>
                            <config_path>payment/placetopay_promotion/title</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <active translate="label source_model">
                            <label>Enabled</label>
                            <config_path>payment/placetopay_promotion/active</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <hascifin translate="label source_model">
                            <label>Enable CIFIN Message</label>
                            <config_path>payment/placetopay_promotion/hascifin</config_path>
                            <comment>Select yes to display the warning message at payment.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>01</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hascifin>
                        <description translate="label comment">
                            <label>Payment description</label>
                            <comment>It is recommended to set this value per store views.</comment>
                            <config_path>payment/placetopay_promotion/description</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <display_logo translate="label comment">
                            <label>Display logo</label>
                            <config_path>payment/placetopay_promotion/display_logo</config_path>
                            <comment>Choose the logos to be displayed under the PlacetoPay logo in payment method selection
                            </comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>EGM_PlacetoPay_Model_System_Config_Source_Logos</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_logo>
                        <final_page translate="label source_model">
                            <label>Final page</label>
                            <config_path>payment/placetopay_promotion/final_page</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>EGM_PlacetoPay_Model_System_Config_Source_FinalPage</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </final_page>
                        <promo_hours translate="label comment">
                            <label>Hours promotion</label>
                            <config_path>payment/placetopay_promotion/promo_hours</config_path>
                            <comment>Choose the hours that the average payment will be active when associated with a
                                promotion
                            </comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>EGM_PlacetoPay_Model_System_Config_Source_Hours</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </promo_hours>
                    </fields>
                </promotion>
            </groups>
        </placetopay>
    </sections>
</config>
